.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(3, auto); */
  grid-template-rows: auto;
  gap: 1rem;
  background-color: #f9f9f9;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
